<a href="https://colab.research.google.com/github/abwaocollins/Movie-Recommender-System/blob/master/Movie%20recommendor%20sys.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
!pip install lenskit

import lenskit.datasets as ds
import pandas as pd

!git clone https://github.com/EricChege101/Movie-Recommender-System.git

data = ds.MovieLens('Movie-Recommender-System/data/')

print("Successfully installed dataset.")

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: lenskit in /usr/local/lib/python3.7/dist-packages (0.14.2)
Requirement already satisfied: psutil>=5 in /usr/local/lib/python3.7/dist-packages (from lenskit) (5.4.8)
Requirement already satisfied: csr>=0.3.1 in /usr/local/lib/python3.7/dist-packages (from lenskit) (0.4.3)
Requirement already satisfied: scipy>=1.2 in /usr/local/lib/python3.7/dist-packages (from lenskit) (1.7.3)
Requirement already satisfied: numba<0.57,>=0.51 in /usr/local/lib/python3.7/dist-packages (from lenskit) (0.56.0)
Requirement already satisfied: cffi>=1.12.2 in /usr/local/lib/python3.7/dist-packages (from lenskit) (1.15.1)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.7/dist-packages (from lenskit) (1.21.6)
Requirement already satisfied: binpickle>=0.3.2 in /usr/local/lib/python3.7/dist-packages (from lenskit) (0.3.4)
Requirement already satisfied: seedbank>=0.1.0 in /usr/local/lib/python3.7/dist-packages (from lenskit) (0.1.2)
Requirement already satisfied: pandas==1.*,>=1.0 in /usr/local/lib/python3.7/dist-packages (from lenskit) (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas==1.*,>=1.0->lenskit) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas==1.*,>=1.0->lenskit) (2022.2.1)
Requirement already satisfied: pickle5 in /usr/local/lib/python3.7/dist-packages (from binpickle>=0.3.2->lenskit) (0.0.12)
Requirement already satisfied: msgpack>=1.0 in /usr/local/lib/python3.7/dist-packages (from binpickle>=0.3.2->lenskit) (1.0.4)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12.2->lenskit) (2.21)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from numba<0.57,>=0.51->lenskit) (4.12.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from numba<0.57,>=0.51->lenskit) (57.4.0)
Requirement already satisfied: llvmlite<0.40,>=0.39.0dev0 in /usr/local/lib/python3.7/dist-packages (from numba<0.57,>=0.51->lenskit) (0.39.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas==1.*,>=1.0->lenskit) (1.15.0)
Requirement already satisfied: anyconfig in /usr/local/lib/python3.7/dist-packages (from seedbank>=0.1.0->lenskit) (0.13.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->numba<0.57,>=0.51->lenskit) (4.1.1)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->numba<0.57,>=0.51->lenskit) (3.8.1)
fatal: destination path 'Movie-Recommender-System' already exists and is not an empty directory.
Successfully installed dataset.

In [131]:
rows_to_show = 400   # <-- Try changing this number to see more rows of data
data.ratings.head(rows_to_show)  # <-- Try changing "ratings" to "movies", "tags", or "links" to see the kinds of data that's stored in the other MovieLens files

     user  item  rating  timestamp
0       1     1     4.0  964982703
1       1     3     4.0  964981247
2       1     6     4.0  964982224
3       1    47     5.0  964983815
4       1    50     5.0  964982931
..    ...   ...     ...        ...
395     4  1391     1.0  945173766
396     4  1449     5.0  945079767
397     4  1466     4.0  945173492
398     4  1500     4.0  964622830
399     4  1517     4.0  945079790

[400 rows x 4 columns]

In [11]:
joined_data = data.ratings.join(data.movies['genres'], on='item')
joined_data = joined_data.join(data.movies['title'], on='item')
joined_data.head(rows_to_show)

,user,item,rating,timestamp,genres,title
0,1,1,4.0,964982703,Adventure|Animation|Children|Comedy|Fantasy,Toy Story (1995)
1,1,3,4.0,964981247,Comedy|Romance,Grumpier Old Men (1995)
2,1,6,4.0,964982224,Action|Crime|Thriller,Heat (1995)
3,1,47,5.0,964983815,Mystery|Thriller,Seven (a.k.a. Se7en) (1995)
4,1,50,5.0,964982931,Crime|Mystery|Thriller,"Usual Suspects, The (1995)"
5,1,70,3.0,964982400,Action|Comedy|Horror|Thriller,From Dusk Till Dawn (1996)
6,1,101,5.0,964980868,Adventure|Comedy|Crime|Romance,Bottle Rocket (1996)
7,1,110,4.0,964982176,Action|Drama|War,Braveheart (1995)
8,1,151,5.0,964984041,Action|Drama|Romance|War,Rob Roy (1995)
9,1,157,5.0,964984100,Comedy|War,Canadian Bacon (1995)

In [12]:
average_ratings = (data.ratings).groupby(['item']).mean()
sorted_avg_ratings = average_ratings.sort_values(by="rating", ascending=False)
joined_data = sorted_avg_ratings.join(data.movies['genres'], on='item')
joined_data = joined_data.join(data.movies['title'], on='item')
joined_data = joined_data[joined_data.columns[1:]]

print("RECOMMENDED FOR ANYBODY:")
joined_data.head(rows_to_show)

RECOMMENDED FOR ANYBODY:

,rating,timestamp,genres,title
item,,,,
88448,5.0,1.315438e+09,Comedy|Drama,Paper Birds (Pájaros de papel) (2010)
100556,5.0,1.456151e+09,Documentary,"Act of Killing, The (2012)"
143031,5.0,1.520409e+09,Comedy|Drama|Romance,Jump In! (2007)
143511,5.0,1.526207e+09,Documentary,Human (2015)
143559,5.0,1.520410e+09,Comedy|Crime|Fantasy,L.A. Slasher (2015)
6201,5.0,1.100120e+09,Drama|Romance,Lady Jane (1986)
102217,5.0,1.443200e+09,Comedy,Bill Hicks: Revelations (1993)
102084,5.0,1.493422e+09,Action|Animation|Fantasy,Justice League: Doom (2012)
6192,5.0,1.063275e+09,Romance,Open Hearts (Elsker dig for evigt) (2002)
145994,5.0,1.526207e+09,Comedy,Formula of Love (1984)

In [13]:
average_ratings = (data.ratings).groupby('item') \
       .agg(count=('user', 'size'), rating=('rating', 'mean')) \
       .reset_index()

sorted_avg_ratings = average_ratings.sort_values(by="rating", ascending=False)
joined_data = sorted_avg_ratings.join(data.movies['genres'], on='item')
joined_data = joined_data.join(data.movies['title'], on='item')
joined_data = joined_data[joined_data.columns[1:]]


print("RECOMMENDED FOR ANYBODY:")
joined_data.head(rows_to_show)

RECOMMENDED FOR ANYBODY:

,count,rating,genres,title
7638,1,5.0,Comedy|Drama,Paper Birds (Pájaros de papel) (2010)
8089,1,5.0,Documentary,"Act of Killing, The (2012)"
9065,1,5.0,Comedy|Drama|Romance,Jump In! (2007)
9076,1,5.0,Documentary,Human (2015)
9078,1,5.0,Comedy|Crime|Fantasy,L.A. Slasher (2015)
4245,1,5.0,Drama|Romance,Lady Jane (1986)
8136,1,5.0,Comedy,Bill Hicks: Revelations (1993)
8130,1,5.0,Action|Animation|Fantasy,Justice League: Doom (2012)
4240,1,5.0,Romance,Open Hearts (Elsker dig for evigt) (2002)
9104,1,5.0,Comedy,Formula of Love (1984)

In [14]:
minimum_to_include = 20 #<-- You can try changing this minimum to include movies rated by fewer or more people

average_ratings = (data.ratings).groupby(['item']).mean()
rating_counts = (data.ratings).groupby(['item']).count()
average_ratings = average_ratings.loc[rating_counts['rating'] > minimum_to_include]
sorted_avg_ratings = average_ratings.sort_values(by="rating", ascending=False)
joined_data = sorted_avg_ratings.join(data.movies['genres'], on='item')
joined_data = joined_data.join(data.movies['title'], on='item')
joined_data = joined_data[joined_data.columns[3:]]

print("RECOMMENDED FOR ANYBODY:")
joined_data.head(rows_to_show)

RECOMMENDED FOR ANYBODY:

,genres,title
item,,
318,Crime|Drama,"Shawshank Redemption, The (1994)"
922,Drama|Film-Noir|Romance,Sunset Blvd. (a.k.a. Sunset Boulevard) (1950)
898,Comedy|Drama|Romance,"Philadelphia Story, The (1940)"
475,Drama,In the Name of the Father (1993)
1204,Adventure|Drama|War,Lawrence of Arabia (1962)
246,Documentary,Hoop Dreams (1994)
858,Crime|Drama,"Godfather, The (1972)"
1235,Comedy|Drama|Romance,Harold and Maude (1971)
168252,Action|Sci-Fi,Logan (2017)
2959,Action|Crime|Drama|Thriller,Fight Club (1999)

In [15]:
average_ratings = (data.ratings).groupby(['item']).mean()
rating_counts = (data.ratings).groupby(['item']).count()
average_ratings = average_ratings.loc[rating_counts['rating'] > minimum_to_include]
average_ratings = average_ratings.join(data.movies['genres'], on='item')
average_ratings = average_ratings.loc[average_ratings['genres'].str.contains('Action')]

sorted_avg_ratings = average_ratings.sort_values(by="rating", ascending=False)
joined_data = sorted_avg_ratings.join(data.movies['title'], on='item')
joined_data = joined_data[joined_data.columns[3:]]
print("RECOMMENDED FOR AN ACTION MOVIE FAN:")
joined_data.head(rows_to_show)

RECOMMENDED FOR AN ACTION MOVIE FAN:

,genres,title
item,,
168252,Action|Sci-Fi,Logan (2017)
2959,Action|Crime|Drama|Thriller,Fight Club (1999)
58559,Action|Crime|Drama|IMAX,"Dark Knight, The (2008)"
1197,Action|Adventure|Comedy|Fantasy|Romance,"Princess Bride, The (1987)"
260,Action|Adventure|Sci-Fi,Star Wars: Episode IV - A New Hope (1977)
3275,Action|Crime|Drama|Thriller,"Boondock Saints, The (2000)"
1208,Action|Drama|War,Apocalypse Now (1979)
1196,Action|Adventure|Sci-Fi,Star Wars: Episode V - The Empire Strikes Back...
1233,Action|Drama|War,"Boot, Das (Boat, The) (1981)"
1198,Action|Adventure,Raiders of the Lost Ark (Indiana Jones and the...

In [152]:
import csv
user_dict = {}
user2_dict = {}
with open('/content/Movie-Recommender-System/data/ratings.csv', newline='') as csvfile:

  reader = csv.DictReader(csvfile)
  for row in reader:
    if ((row['userId'] == '1')):
      user_dict.update({int(row['movieId']): float(row['rating'])})
  
with open('/content/Movie-Recommender-System/data/ratings.csv', newline='') as csvfile:

  reader = csv.DictReader(csvfile)
  for row in reader:
    if ((row['userId'] == '2')):
      user2_dict.update({int(row['movieId']): float(row['rating'])})
print("Rating dictionaries assembled!")
print("Sanity check:")
print("user1 rating for 333  (Tommy boy) is " + str(user_dict[333]))
print("user2 rating for 333 (Tommy boy) is " + str(user2_dict[333]))
user_dict
user2_dict

Rating dictionaries assembled!
Sanity check:
user1 rating for 1197 (The Princess Bride) is 5.0
user2 rating for 1197 (The Princess Bride) is 4.0

{318: 3.0,
 333: 4.0,
 1704: 4.5,
 3578: 4.0,
 6874: 4.0,
 8798: 3.5,
 46970: 4.0,
 48516: 4.0,
 58559: 4.5,
 60756: 5.0,
 68157: 4.5,
 71535: 3.0,
 74458: 4.0,
 77455: 3.0,
 79132: 4.0,
 80489: 4.5,
 80906: 5.0,
 86345: 4.0,
 89774: 5.0,
 91529: 3.5,
 91658: 2.5,
 99114: 3.5,
 106782: 5.0,
 109487: 3.0,
 112552: 4.0,
 114060: 2.0,
 115713: 3.5,
 122882: 5.0,
 131724: 5.0}

In [145]:
from lenskit.algorithms import Recommender
from lenskit.algorithms.user_knn import UserUser

num_recs = 10  #<---- This is the number of recommendations to generate. You can change this if you want to see more recommendations

user_user = UserUser(15, min_nbrs=3) #These two numbers set the minimum (3) and maximum (15) number of neighbors to consider. These are considered "reasonable defaults," but you can experiment with others too
algo = Recommender.adapt(user_user)
algo.fit(data.ratings)

print("Set up a User-User algorithm!")

Set up a User-User algorithm!

In [146]:
user_recs = algo.recommend(-1, num_recs, ratings=pd.Series(user_dict))  #Here, -1 tells it that it's not an existing user in the set, that we're giving new ratings, while 10 is how many recommendations it should generate

joined_data = user_recs.join(data.movies['genres'], on='item')      
joined_data = joined_data.join(data.movies['title'], on='item')
joined_data = joined_data[joined_data.columns[2:]]
print("\n\nRECOMMENDED FOR JABRIL:")
joined_data

RECOMMENDED FOR JABRIL:

                      genres                                           title
0            Crime|Film-Noir                        Long Goodbye, The (1973)
1  Action|Adventure|Thriller  Raiders of the Lost Ark: The Adaptation (1989)
2    Adventure|Drama|Western                                True Grit (1969)
3              Drama|Romance                         3-Iron (Bin-jip) (2004)
4                      Drama        Conformist, The (Conformista, Il) (1970)
5             Comedy|Romance                               Adam's Rib (1949)
6                     Comedy                               Party Girl (1995)
7                      Drama                       Before Night Falls (2000)
8           Comedy|Drama|War                              Underground (1995)
9            Sci-Fi|Thriller          Timecrimes (Cronocrímenes, Los) (2007)

In [147]:
user2_recs = algo.recommend(-1, num_recs, ratings=pd.Series(user2_dict))  #Here, -1 tells it that it's not an existing user in the set, that we're giving new ratings, while 10 is how many recommendations it should generate

joined_data = user2_recs.join(data.movies['genres'], on='item')      
joined_data = joined_data.join(data.movies['title'], on='item')
joined_data = joined_data[joined_data.columns[2:]]
print("RECOMMENDED FOR JOHN-GREEN-BOT:")
joined_data

RECOMMENDED FOR JOHN-GREEN-BOT:

,genres,title
0,Drama,Captain Fantastic (2016)
1,Adventure|Animation|Children|Drama|Fantasy,Watership Down (1978)
2,Drama|Fantasy|Romance,Wristcutters: A Love Story (2006)
3,Comedy|Romance,Chasing Liberty (2004)
4,Drama|Horror,Eraserhead (1977)
5,Action|Crime|Thriller,F/X (1986)
6,Comedy|Musical|Romance,"Night at the Opera, A (1935)"
7,Animation|Comedy,Creature Comforts (1989)
8,Comedy,The Wedding Ringer (2015)
9,Drama,"Salo, or The 120 Days of Sodom (Salò o le 120 ..."

In [149]:
combined_rating_dict = {}
for k in user_dict:
  if k in user2_dict:
    combined_rating_dict.update({k: float((user_dict[k]+user2_dict[k])/2)})
  else:
    combined_rating_dict.update({k:user_dict[k]})
for k in user2_dict:
   if k not in combined_rating_dict:
      combined_rating_dict.update({k:user2_dict[k]})
      
print("Combined ratings dictionary assembled!")

Combined ratings dictionary assembled!

In [150]:
combined_recs = algo.recommend(-1, num_recs, ratings=pd.Series(combined_rating_dict))  #Here, -1 tells it that it's not an existing user in the set, that we're giving new ratings, while 10 is how many recommendations it should generate

joined_data = combined_recs.join(data.movies['genres'], on='item')      
joined_data = joined_data.join(data.movies['title'], on='item')
joined_data = joined_data[joined_data.columns[2:]]
print("\n\nRECOMMENDED FOR JABRIL / JOHN-GREEN-BOT HYBRID:")
joined_data

RECOMMENDED FOR JABRIL / JOHN-GREEN-BOT HYBRID:

                             genres                          title
0           Adventure|Drama|Western               True Grit (1969)
1                       Crime|Drama          Godfather, The (1972)
2                             Drama      Before Night Falls (2000)
3                  Action|Drama|War        Band of Brothers (2001)
4                            Comedy              Party Girl (1995)
5                    Comedy|Romance              Adam's Rib (1949)
6                         Drama|War               Gallipoli (1981)
7                Comedy|Documentary  Eddie Murphy Delirious (1983)
8                        Comedy|War            General, The (1926)
9  Action|Adventure|Children|Comedy               Condorman (1981)